<header>
    <img 
    src="assets/img/caio.jpg"
    alt="Caio - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
    />
</header>

<aside>
    <div class="container">
        <p>Front-End Developer | React | Angular | JavaScript | Typescript </p>
        <p>Campo Grande, Rio de Janeiro, Brasil.</p>
        <p>Estou na área de desenvolvimento de software há mais de 2 anos. 
            Devido isso resolvi abraçar a stack JS pois atua no Frontend / Backend.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/Currículo Caio - 2025.pdf" target="_blank" class="btn btn-cv">
                        Download CV
                        <img
                        src="../../../../../assets/icons/attach.svg"
                        alt="meu curriculo"
                        width="20px"
                        height="20px"
                        style="padding-left: 4px;"
                        />
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/caio-bomfim-pantoja/" target="_blank" class="btn btn-linkedin">
                       LinkedIn 
                        <img 
                        src="../../../../../assets/icons/linkedin.svg"
                        alt="linkedin site"
                        width="30px"
                        height="24px"
                        />
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure class="box-1">
                <img 
                src="assets/icons/whatsapp.svg"
                alt="Contato para WhatsApp"
                width="22px"
                height="24px"
                />

                <figcaption>
                    <a href="https://wa.me/5521965827969?text=Ol%C3%A1%20Caio!%20Vim%20do%20seu%20portf%C3%B3lio%20e%20gostaria%20de..." target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp (21) 96582-7969 </p>
                    </a>
                </figcaption>
            </figure>

             <figure class="box-2">
                <img 
                src="assets/icons/mail.svg"
                alt="Contato para e-mail"
                width="22px"
                height="24px"
                />

                <figcaption>
                    <a href="mailto:cbomfimpantoja@gmail.com" target="_blank">
                        <strong>Envie um e-mail para: </strong>
                        <p>cbomfimpantoja@gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
    
</aside>
