:root { //<html/>
    --primary: #2a4dda;
    --primary-1: #1B9CFC;

    --btn-linkedin: #06628a;
    --btn-linkedin-1: #06374e;

    --btn-cv: #b8e994;
    --btn-cv-1: #58B19F;

    --secondary: #b8e994;
    --secondary-1: #228d4f;

    --white: #fff;

    --black: #10101a;
    --black-1: #2a2a30;

    --gray: #eaeaee;

    --experience-box: #619af0;
}